<!--The content below is only a placeholder and can be replaced.-->
<div id="page">
  <header>
    <img class="icon" src="assets/aboutMyself.png">
  </header>
  <article>
    <div class="description">
      <h1 class="head">Обо мне</h1>
      <p class="artic">Учусь в СФУ, ИКИТ на направлении программная инженерия, закончила 3 курс </p>
    </div>
  </article>
  <div id="authorization">
    <div class="login-page">
      <div class="form">
        <input type="text" placeholder="Логин"/>
        <input type="password" placeholder="Пароль"/>
        <button class="btn-entry" id="btn-entry">Вход</button>
      </div>
    </div>
  </div>
  <footer>
    <div class="content">
      <div class="coppy">
        <p>© 2018 Страница обо мне</p>
      </div>
      <div class="connect">
        <div class="address">
          <p>ул.Мира, д.11 Красноярск, Россия 660041</p>
          <p></p>
        </div>
        <div class="contacts">
          <p>+7 (999) 965-31-93 iiiiii@mail.ru</p>
        </div>
      </div>
    </div>
  </footer>
</div>

